<div class="invoiceBox mainDataBox" ng-controller="invoiceCtrl">

    <div class="searchBox">
        <span>Wyszukaj Fakturę: </span>
        <input class="inputSearch" ng-model="search.numberInvoice" placeholder="Numer faktury">
        <input class="inputSearch" ng-model="search.nameCompany" placeholder="Nazwa firmy">
        <input class="inputSearch" ng-model="search.nameProduct" placeholder="Nazwa produktu">
        <span class="addFirm"><button class="buttonAddFirm" ng-click="addDataInvoice()">Dodaj fakturę</button></span>
    </div>

    <table>
        <thead>
           <th class="thSort">
                <button  ng-click="sortBy('numberInvoice')">Nr faktury <span class="sortorder" ng-show="propertyName === 'numberInvoice'" ng-class="{reverse: reverse}"></span></button>
            </th>
            <th class="thSort">
                <button  ng-click="sortBy('nameCompany')">Nazwa firmy <span class="sortorder" ng-show="propertyName === 'nameCompany'" ng-class="{reverse: reverse}"></span></button>
            </th>
            <th class="thSort">
                <button  ng-click="sortBy('nameProduct')">Nazwa produktu <span class="sortorder" ng-show="propertyName === 'nameProduct'" ng-class="{reverse: reverse}"></span></button>
            </th>
            <th>Akcja</th>
            <th>Usuń</th>
        </thead>
        <tbod>
            <tr ng-repeat="invoice in invoiceList | filter : search | orderBy : propertyName : reverse">
                <td>{{invoice.numberInvoice}}</td>
                <td>{{invoice.nameCompany}}</td>
                <td>{{invoice.nameProduct}}</td>
                <td class="centerRow"><button class="edit" ng-click="editDataInvoice(invoice)">Edytuj</button></td>
                <td class="centerRow"><button class="delete" ng-click="deleteDataInvoice(invoice.idInvoice, $index)">Usuń</button></td>
            </tr>
        </tbod>
    </table>

    <script type="text/ng-template" id="addInvoiceModal.html">
        <div class="modal-header">
            <span>Numer faktury: <input type="text" ng-model="newNumberInvoice"></span>
        </div>
        <div class="modal-body">
            <p>Dane faktury:</p>
            <div class="dataFirm">
                <span class="blockSpan">
                    <span class="inlineSpan">Nazwa firmy:</span>
                    <select selector model="company" options="companies" view-item-template="'selector/companies'" dropdown-item-template="'selector/companies'"></select>
                </span>
                <span class="blockSpan productSelectSpan">
                    <span class="inlineSpan">Wybierz produkty:</span> 
                    <select selector multi="true" model="selectProduct" options="products" dropdown-item-template="'selector/product'"></select>
                </span>
                
                <ul class="productSelectedList">
                    <li ng-repeat="product in selectProduct">
                        {{product.nameProduct}} - {{product.netPrice * 1.23}} zł -
                        <input ng-model="product.productCount" type="number" class="inputProductCount" min="1" ng-value="{{1}}"> szt.
                        <button class="delete" ng-click="deleteSelectedProduct(product)">X</button>
                    </li>
                </ul>
                
                <span class="blockSpan totalitySpan"><span class="inlineSpan">Suma Faktury :</span> <input ng-readonly="true" value="{{totalPrice()}}" ng-bind=""></span>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="save()">Dodaj</button>
            <button class="btn btn-warning" ng-click="close()">Zamknij</button>
        </div>
    </script>
    
    <script type="text/ng-template" id="selector/companies">
        <span>{{option.nameCompany}}, {{option.address}} - NIP: {{option.nip}}</span>
    </script>
    
    <script type="text/ng-template" id="selector/product">
        <span>{{option.nameProduct}} - {{option.netPrice * 1.23}} zł</span>
    </script>

</div>
