<div class="productBox mainDataBox" ng-controller="productCtrl">

    <div class="searchBox">
        <span>Wyszukaj produkt: </span>
        <input class="inputSearch" ng-model="search.nameProduct" placeholder="Nawa produktu">
        <input class="inputSearch" ng-model="search.netPrice" placeholder="Cena netto produktu">
        <input class="inputSearch" ng-model="search.grossPrice" placeholder="Cena brutto produktu">
        <span class="addFirm"><button class="buttonAddFirm" ng-click="addDataProduct()">Dodaj produkt</button></span>
    </div>

    <table>
        <thead>
            <th class="thSort">
                <button  ng-click="sortBy('nameProduct')">Nazwa produktu <span class="sortorder" ng-show="propertyName === 'nameProduct'" ng-class="{reverse: reverse}"></span></button>
            </th>
            <th class="thSort">
                <button  ng-click="sortBy('netPrice')">Cena netto <span class="sortorder" ng-show="propertyName === 'netPrice'" ng-class="{reverse: reverse}"></span></button>
            </th>
            <th class="thSort">
                <button  ng-click="sortBy('grossPrice')">Cena brutto <span class="sortorder" ng-show="propertyName === 'grossPrice'" ng-class="{reverse: reverse}"></span></button>
            </th>
            <th>Akcja</th>
            <th>Usuń</th>
        </thead>
        <tbod>
            <tr ng-repeat="product in productList | filter : search | orderBy : propertyName : reverse">
                <td>{{product.nameProduct}}</td>
                <td>{{product.netPrice}}</td>
                <td>{{product.getGrossPrice()}}</td>
                <td class="centerRow"><button class="edit" ng-click="editDataProduct(product)">Edytuj</button></td>
                <td class="centerRow"><button class="delete" ng-click="deleteDataProduct(product.idProduct, product)">Usuń</button></td>
            </tr>
        </tbod>
    </table>

    <script type="text/ng-template" id="modalProductEdit.html">
        <div class="modal-header">
            <span>Nazwa produktu: <input type="text" ng-model="product.nameProduct"></span>
        </div>
        <div class="modal-body">
            <p>Dane produktu:</p>
            <div class="dataFirm">
                <span class="blockSpan"><span class="inlineSpan">Cena netto:</span> <input type="text" ng-model="product.netPrice"></span>
                <span class="blockSpan"><span class="inlineSpan">Cena brutto:</span> <input type="text" value="{{product.getGrossPrice()}}" readonly="true"></span>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="save()">Zapisz</button>
            <button class="btn btn-warning" ng-click="close()">Zamknij</button>
        </div>
    </script>


    <script type="text/ng-template" id="addProductModal.html">
        <div class="modal-header">
            <span>Nazwa produktu: <input id="name" type="text" required ng-model="nameProduct"></span>
        </div>
        <div class="modal-body">
            <p>Dane produktu:</p>
            <div class="dataFirm">
                <span class="blockSpan"><span class="inlineSpan">Cena netto:</span> <input type="text" ng-model="netPrice"></span>
                <span class="blockSpan"><span class="inlineSpan">Cena brutto:</span> <input type="text" value="{{netPrice * 1.23}}" ng-readonly="true"></span>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="save()">Dodaj</button>
            <button class="btn btn-warning" ng-click="close()">Zamknij</button>
        </div>
    </script>

</div>
